In [2]:
import pandas as pd
from datetime import datetime

In [3]:
data_p311 = pd.read_csv("311_Pre_2011.csv")
data_p311.head()

/Users/achillessaxby/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Created Date,Agency,Agency Name,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location
0,05/10/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,APPLIANCE,10454,1005638.0,234147.0,40.809329,-73.922738,"(40.80932936717553, -73.9227384911341)"
1,05/10/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,APPLIANCE,10459,1014575.0,239297.0,40.823439,-73.890431,"(40.82343850709147, -73.89043144098281)"
2,05/10/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,11373,1019123.0,210386.0,40.744069,-73.874149,"(40.74406880836881, -73.87414896523073)"
3,05/10/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,10460,1015599.0,243063.0,40.833772,-73.886714,"(40.83377151700781, -73.88671398918511)"
4,05/10/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PLUMBING,11225,996197.0,181752.0,40.665536,-73.956936,"(40.66553592293138, -73.95693597811109)"

In [4]:
data_1112 = pd.read_csv("2011-12.csv")
data_1112.head()

/Users/achillessaxby/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location
0,01/12/2011 03:06:20 PM,Stalled Sites,10006,980500.0,197272.0,40.708142,-74.013526,"(40.70814203196457, -74.01352584698965)"
1,01/31/2011 03:09:22 PM,Smoking,11354,1031310.0,215799.0,40.758870,-73.830130,"(40.75886964114406, -73.83013026118377)"
2,03/03/2011 04:27:13 PM,Smoking,10301,960792.0,171035.0,40.636097,-74.084519,"(40.636097085879555, -74.0845191507043)"
3,03/06/2011 09:45:56 PM,Smoking,10467,1018078.0,261421.0,40.884150,-73.877663,"(40.88414951808322, -73.87766297790301)"
4,05/23/2011 09:19:00 AM,Sewer,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_1213 = pd.read_csv("2012-13.csv")
data_1213.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location
0,01/05/2012 06:41:08 PM,Smoking,10468,1009360.0,253385.0,40.862122,-73.909221,"(40.86212228992487, -73.90922121571127)"
1,01/08/2012 01:06:53 PM,Non-Residential Heat,11206,999829.0,198346.0,40.711077,-73.943806,"(40.711076986346214, -73.94380574345548)"
2,01/10/2012 05:07:55 PM,Smoking,10021,994875.0,219875.0,40.770176,-73.961641,"(40.7701760655427, -73.96164106841557)"
3,01/11/2012 10:17:10 AM,Smoking,11207,1015426.0,177561.0,40.653986,-73.887643,"(40.65398573187911, -73.88764277035244)"
4,02/22/2012 12:59:46 PM,General Construction/Plumbing,10455,1011913.0,236723.0,40.816382,-73.900060,"(40.81638234521403, -73.90006022932145)"

In [6]:
data_1314 = pd.read_csv("2013-14.csv")
data_1314.head()

/Users/achillessaxby/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Created Date,Agency,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location
0,10/01/2013 01:43:52 PM,DOB,General Construction/Plumbing,11230,993889.0,167119.0,40.625374,-73.965276,"(40.6253743118371, -73.96527627658917)"
1,01/19/2013 06:21:02 PM,DOHMH,Smoking,11106,1001933.0,217572.0,40.763844,-73.936166,"(40.763843628219504, -73.93616597320083)"
2,01/23/2013 12:24:53 AM,DOHMH,Non-Residential Heat,11233,1009644.0,185648.0,40.676201,-73.908450,"(40.67620120872071, -73.90845042192403)"
3,01/25/2013 03:41:18 PM,DOHMH,Non-Residential Heat,11213,1004408.0,183847.0,40.671271,-73.927332,"(40.67127134171268, -73.92733244608434)"
4,01/28/2013 03:41:50 PM,DOB,General Construction/Plumbing,11101,996676.0,211026.0,40.745885,-73.955155,"(40.74588547678187, -73.95515535997583)"

In [7]:
data_1415 = pd.read_csv("2014-15.csv")
data_1415.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location
0,01/02/2014 09:56:35 AM,DOF Property - Reduction Issue,10455,NaN,NaN,NaN,NaN,NaN
1,01/01/2014 01:43:59 AM,Blocked Driveway,11105,1011905.0,220241.0,40.771144,-73.900157,"(40.77114376681425, -73.90015700109045)"
2,01/01/2014 02:40:43 AM,Blocked Driveway,11419,1029742.0,190764.0,40.690163,-73.835959,"(40.69016297012941, -73.83595939389049)"
3,01/01/2014 12:43:46 AM,Illegal Parking,11385,1017254.0,195852.0,40.704184,-73.880965,"(40.70418371191333, -73.88096515118515)"
4,01/01/2014 02:53:18 AM,Noise - Residential,11219,985062.0,173714.0,40.643481,-73.997074,"(40.64348139274596, -73.99707404148495)"

In [8]:
data_1516 = pd.read_csv("2015-16.csv")
data_1516.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location
0,10/01/2015 12:00:00 AM,Unsanitary Animal Pvt Property,11414,1028301.0,179928.0,40.660428,-73.841226,"(40.66042792940118, -73.84122633877455)"
1,10/01/2015 12:00:00 AM,Unsanitary Pigeon Condition,11215,990244.0,181678.0,40.665339,-73.978394,"(40.66533884086236, -73.97839415947483)"
2,10/01/2015 12:00:00 AM,Unsanitary Animal Pvt Property,10301,955037.0,170033.0,40.633330,-74.105250,"(40.63332969998893, -74.10525005425679)"
3,10/01/2015 12:00:00 AM,Unsanitary Animal Pvt Property,11417,1029210.0,188627.0,40.684300,-73.837892,"(40.68430012358396, -73.83789200050686)"
4,10/01/2015 12:00:00 AM,Unsanitary Animal Pvt Property,10016,990185.0,211350.0,40.746782,-73.978581,"(40.74678151406556, -73.97858067686367)"

In [9]:
data_311p = pd.read_csv("Post_2016.csv")
data_311p.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location
0,02/03/2017 03:41:50 PM,Blocked Driveway,NaN,NaN,NaN,NaN,NaN,NaN
1,02/03/2017 10:24:00 AM,Missed Collection (All Materials),11211,995733.0,197462.0,40.708657,-73.958582,"(40.70865688036097, -73.95858173179646)"
2,02/03/2017 03:22:38 PM,General Construction/Plumbing,11432,1043581.0,199151.0,40.713101,-73.785983,"(40.71310129919592, -73.78598332501407)"
3,02/03/2017 05:39:00 AM,Traffic Signal Condition,NaN,NaN,NaN,NaN,NaN,NaN
4,02/03/2017 10:52:00 AM,Dirty Conditions,10469,1023648.0,253055.0,40.861164,-73.857569,"(40.861164337464984, -73.85756861957913)"

#### ----------

#### DateTime Change

#### ----------

In [10]:
data_p311['Created Date'].dtypes

dtype('O')

In [11]:
data_p311['Created Date'] = pd.to_datetime(data_p311['Created Date'])

In [12]:
data_p311['Created Date'].dtypes

dtype('<M8[ns]')

In [31]:
data_p311['Date'] = data_p311['Created Date'].dt.date

In [32]:
data_p311.head()

,Created Date,Agency,Agency Name,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location,Date
0,2010-05-10,HPD,Department of Housing Preservation and Develop...,APPLIANCE,10454,1005638.0,234147.0,40.809329,-73.922738,"(40.80932936717553, -73.9227384911341)",2010-05-10
1,2010-05-10,HPD,Department of Housing Preservation and Develop...,APPLIANCE,10459,1014575.0,239297.0,40.823439,-73.890431,"(40.82343850709147, -73.89043144098281)",2010-05-10
2,2010-05-10,HPD,Department of Housing Preservation and Develop...,PLUMBING,11373,1019123.0,210386.0,40.744069,-73.874149,"(40.74406880836881, -73.87414896523073)",2010-05-10
3,2010-05-10,HPD,Department of Housing Preservation and Develop...,PLUMBING,10460,1015599.0,243063.0,40.833772,-73.886714,"(40.83377151700781, -73.88671398918511)",2010-05-10
4,2010-05-10,HPD,Department of Housing Preservation and Develop...,PLUMBING,11225,996197.0,181752.0,40.665536,-73.956936,"(40.66553592293138, -73.95693597811109)",2010-05-10

In [33]:
data_p311 = data_p311.drop(['Agency', 'Agency Name', 
                            'X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Created Date'], axis = 1)
data_p311.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date
0,APPLIANCE,10454,40.809329,-73.922738,"(40.80932936717553, -73.9227384911341)",2010-05-10
1,APPLIANCE,10459,40.823439,-73.890431,"(40.82343850709147, -73.89043144098281)",2010-05-10
2,PLUMBING,11373,40.744069,-73.874149,"(40.74406880836881, -73.87414896523073)",2010-05-10
3,PLUMBING,10460,40.833772,-73.886714,"(40.83377151700781, -73.88671398918511)",2010-05-10
4,PLUMBING,11225,40.665536,-73.956936,"(40.66553592293138, -73.95693597811109)",2010-05-10

In [35]:
data_p311 = data_p311[['Date','Complaint Type','Latitude','Longitude','Location','Incident Zip']]
data_p311.head()

,Date,Complaint Type,Latitude,Longitude,Location,Incident Zip
0,2010-05-10,APPLIANCE,40.809329,-73.922738,"(40.80932936717553, -73.9227384911341)",10454
1,2010-05-10,APPLIANCE,40.823439,-73.890431,"(40.82343850709147, -73.89043144098281)",10459
2,2010-05-10,PLUMBING,40.744069,-73.874149,"(40.74406880836881, -73.87414896523073)",11373
3,2010-05-10,PLUMBING,40.833772,-73.886714,"(40.83377151700781, -73.88671398918511)",10460
4,2010-05-10,PLUMBING,40.665536,-73.956936,"(40.66553592293138, -73.95693597811109)",11225

In [36]:
data_p311['Date'] = pd.to_datetime(data_p311['Date'])

In [37]:
data_p311['Year'] = data_p311['Date'].dt.year
data_p311['Month'] = data_p311['Date'].dt.month

In [38]:
data_p311.head()

,Date,Complaint Type,Latitude,Longitude,Location,Incident Zip,Year,Month
0,2010-05-10,APPLIANCE,40.809329,-73.922738,"(40.80932936717553, -73.9227384911341)",10454,2010,5
1,2010-05-10,APPLIANCE,40.823439,-73.890431,"(40.82343850709147, -73.89043144098281)",10459,2010,5
2,2010-05-10,PLUMBING,40.744069,-73.874149,"(40.74406880836881, -73.87414896523073)",11373,2010,5
3,2010-05-10,PLUMBING,40.833772,-73.886714,"(40.83377151700781, -73.88671398918511)",10460,2010,5
4,2010-05-10,PLUMBING,40.665536,-73.956936,"(40.66553592293138, -73.95693597811109)",11225,2010,5

In [39]:
data_p311.head()

,Date,Complaint Type,Latitude,Longitude,Location,Incident Zip,Year,Month
0,2010-05-10,APPLIANCE,40.809329,-73.922738,"(40.80932936717553, -73.9227384911341)",10454,2010,5
1,2010-05-10,APPLIANCE,40.823439,-73.890431,"(40.82343850709147, -73.89043144098281)",10459,2010,5
2,2010-05-10,PLUMBING,40.744069,-73.874149,"(40.74406880836881, -73.87414896523073)",11373,2010,5
3,2010-05-10,PLUMBING,40.833772,-73.886714,"(40.83377151700781, -73.88671398918511)",10460,2010,5
4,2010-05-10,PLUMBING,40.665536,-73.956936,"(40.66553592293138, -73.95693597811109)",11225,2010,5

In [40]:
data_p311.to_csv('C-11.csv')

#### ----------

In [13]:
data_1112['Created Date'].dtypes

dtype('O')

In [14]:
data_1112['Created Date'] = pd.to_datetime(data_1112['Created Date'])

In [15]:
data_1112['Created Date'].dtypes

dtype('<M8[ns]')

In [41]:
data_1112['Date'] = data_1112['Created Date'].dt.date

In [42]:
data_1112.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location,Date
0,2011-01-12 15:06:20,Stalled Sites,10006,980500.0,197272.0,40.708142,-74.013526,"(40.70814203196457, -74.01352584698965)",2011-01-12
1,2011-01-31 15:09:22,Smoking,11354,1031310.0,215799.0,40.758870,-73.830130,"(40.75886964114406, -73.83013026118377)",2011-01-31
2,2011-03-03 16:27:13,Smoking,10301,960792.0,171035.0,40.636097,-74.084519,"(40.636097085879555, -74.0845191507043)",2011-03-03
3,2011-03-06 21:45:56,Smoking,10467,1018078.0,261421.0,40.884150,-73.877663,"(40.88414951808322, -73.87766297790301)",2011-03-06
4,2011-05-23 09:19:00,Sewer,NaN,NaN,NaN,NaN,NaN,NaN,2011-05-23

In [43]:
data_1112 = data_1112.drop(['X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Created Date'], axis = 1)
data_1112.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date
0,Stalled Sites,10006,40.708142,-74.013526,"(40.70814203196457, -74.01352584698965)",2011-01-12
1,Smoking,11354,40.758870,-73.830130,"(40.75886964114406, -73.83013026118377)",2011-01-31
2,Smoking,10301,40.636097,-74.084519,"(40.636097085879555, -74.0845191507043)",2011-03-03
3,Smoking,10467,40.884150,-73.877663,"(40.88414951808322, -73.87766297790301)",2011-03-06
4,Sewer,NaN,NaN,NaN,NaN,2011-05-23

In [44]:
data_1112['Date'] = pd.to_datetime(data_1112['Date'])

In [45]:
data_1112['Year'] = data_1112['Date'].dt.year
data_1112['Month'] = data_1112['Date'].dt.month
data_1112.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date,Year,Month
0,Stalled Sites,10006,40.708142,-74.013526,"(40.70814203196457, -74.01352584698965)",2011-01-12,2011,1
1,Smoking,11354,40.758870,-73.830130,"(40.75886964114406, -73.83013026118377)",2011-01-31,2011,1
2,Smoking,10301,40.636097,-74.084519,"(40.636097085879555, -74.0845191507043)",2011-03-03,2011,3
3,Smoking,10467,40.884150,-73.877663,"(40.88414951808322, -73.87766297790301)",2011-03-06,2011,3
4,Sewer,NaN,NaN,NaN,NaN,2011-05-23,2011,5

In [46]:
data_1112 = data_1112[['Complaint Type','Year','Month','Date','Latitude','Longitude','Location','Incident Zip']]
data_1112.head()

,Complaint Type,Year,Month,Date,Latitude,Longitude,Location,Incident Zip
0,Stalled Sites,2011,1,2011-01-12,40.708142,-74.013526,"(40.70814203196457, -74.01352584698965)",10006
1,Smoking,2011,1,2011-01-31,40.758870,-73.830130,"(40.75886964114406, -73.83013026118377)",11354
2,Smoking,2011,3,2011-03-03,40.636097,-74.084519,"(40.636097085879555, -74.0845191507043)",10301
3,Smoking,2011,3,2011-03-06,40.884150,-73.877663,"(40.88414951808322, -73.87766297790301)",10467
4,Sewer,2011,5,2011-05-23,NaN,NaN,NaN,NaN

In [47]:
data_1112.to_csv('C11.csv')

#### ----------

In [16]:
data_1213['Created Date'].dtypes

dtype('O')

In [17]:
data_1213['Created Date'] = pd.to_datetime(data_1213['Created Date'])

In [18]:
data_1213['Created Date'].dtypes

dtype('<M8[ns]')

In [48]:
data_1213['Date'] = data_1213['Created Date'].dt.date
data_1213.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location,Date
0,2012-01-05 18:41:08,Smoking,10468,1009360.0,253385.0,40.862122,-73.909221,"(40.86212228992487, -73.90922121571127)",2012-01-05
1,2012-01-08 13:06:53,Non-Residential Heat,11206,999829.0,198346.0,40.711077,-73.943806,"(40.711076986346214, -73.94380574345548)",2012-01-08
2,2012-01-10 17:07:55,Smoking,10021,994875.0,219875.0,40.770176,-73.961641,"(40.7701760655427, -73.96164106841557)",2012-01-10
3,2012-01-11 10:17:10,Smoking,11207,1015426.0,177561.0,40.653986,-73.887643,"(40.65398573187911, -73.88764277035244)",2012-01-11
4,2012-02-22 12:59:46,General Construction/Plumbing,10455,1011913.0,236723.0,40.816382,-73.900060,"(40.81638234521403, -73.90006022932145)",2012-02-22

In [49]:
data_1213 = data_1213.drop(['X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Created Date'], axis = 1)
data_1213.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date
0,Smoking,10468,40.862122,-73.909221,"(40.86212228992487, -73.90922121571127)",2012-01-05
1,Non-Residential Heat,11206,40.711077,-73.943806,"(40.711076986346214, -73.94380574345548)",2012-01-08
2,Smoking,10021,40.770176,-73.961641,"(40.7701760655427, -73.96164106841557)",2012-01-10
3,Smoking,11207,40.653986,-73.887643,"(40.65398573187911, -73.88764277035244)",2012-01-11
4,General Construction/Plumbing,10455,40.816382,-73.900060,"(40.81638234521403, -73.90006022932145)",2012-02-22

In [50]:
data_1213['Date'] = pd.to_datetime(data_1213['Date'])

In [51]:
data_1213['Year'] = data_1213['Date'].dt.year
data_1213['Month'] = data_1213['Date'].dt.month
data_1213.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date,Year,Month
0,Smoking,10468,40.862122,-73.909221,"(40.86212228992487, -73.90922121571127)",2012-01-05,2012,1
1,Non-Residential Heat,11206,40.711077,-73.943806,"(40.711076986346214, -73.94380574345548)",2012-01-08,2012,1
2,Smoking,10021,40.770176,-73.961641,"(40.7701760655427, -73.96164106841557)",2012-01-10,2012,1
3,Smoking,11207,40.653986,-73.887643,"(40.65398573187911, -73.88764277035244)",2012-01-11,2012,1
4,General Construction/Plumbing,10455,40.816382,-73.900060,"(40.81638234521403, -73.90006022932145)",2012-02-22,2012,2

In [52]:
data_1213 = data_1213[['Complaint Type','Year','Month','Date','Latitude','Longitude','Location','Incident Zip']]
data_1213.head()

,Complaint Type,Year,Month,Date,Latitude,Longitude,Location,Incident Zip
0,Smoking,2012,1,2012-01-05,40.862122,-73.909221,"(40.86212228992487, -73.90922121571127)",10468
1,Non-Residential Heat,2012,1,2012-01-08,40.711077,-73.943806,"(40.711076986346214, -73.94380574345548)",11206
2,Smoking,2012,1,2012-01-10,40.770176,-73.961641,"(40.7701760655427, -73.96164106841557)",10021
3,Smoking,2012,1,2012-01-11,40.653986,-73.887643,"(40.65398573187911, -73.88764277035244)",11207
4,General Construction/Plumbing,2012,2,2012-02-22,40.816382,-73.900060,"(40.81638234521403, -73.90006022932145)",10455

In [53]:
data_1213.to_csv('C12.csv')

#### ----------

In [19]:
data_1314['Created Date'].dtypes

dtype('O')

In [20]:
data_1314['Created Date'] = pd.to_datetime(data_1314['Created Date'])

In [21]:
data_1314['Created Date'].dtypes

dtype('<M8[ns]')

In [54]:
data_1314['Date'] = data_1314['Created Date'].dt.date
data_1314.head()

,Created Date,Agency,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location,Date
0,2013-10-01 13:43:52,DOB,General Construction/Plumbing,11230,993889.0,167119.0,40.625374,-73.965276,"(40.6253743118371, -73.96527627658917)",2013-10-01
1,2013-01-19 18:21:02,DOHMH,Smoking,11106,1001933.0,217572.0,40.763844,-73.936166,"(40.763843628219504, -73.93616597320083)",2013-01-19
2,2013-01-23 00:24:53,DOHMH,Non-Residential Heat,11233,1009644.0,185648.0,40.676201,-73.908450,"(40.67620120872071, -73.90845042192403)",2013-01-23
3,2013-01-25 15:41:18,DOHMH,Non-Residential Heat,11213,1004408.0,183847.0,40.671271,-73.927332,"(40.67127134171268, -73.92733244608434)",2013-01-25
4,2013-01-28 15:41:50,DOB,General Construction/Plumbing,11101,996676.0,211026.0,40.745885,-73.955155,"(40.74588547678187, -73.95515535997583)",2013-01-28

In [55]:
data_1314 = data_1314.drop(['Agency', 'X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Created Date'], axis = 1)
data_1314.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date
0,General Construction/Plumbing,11230,40.625374,-73.965276,"(40.6253743118371, -73.96527627658917)",2013-10-01
1,Smoking,11106,40.763844,-73.936166,"(40.763843628219504, -73.93616597320083)",2013-01-19
2,Non-Residential Heat,11233,40.676201,-73.908450,"(40.67620120872071, -73.90845042192403)",2013-01-23
3,Non-Residential Heat,11213,40.671271,-73.927332,"(40.67127134171268, -73.92733244608434)",2013-01-25
4,General Construction/Plumbing,11101,40.745885,-73.955155,"(40.74588547678187, -73.95515535997583)",2013-01-28

In [56]:
data_1314['Date'] = pd.to_datetime(data_1314['Date'])

In [57]:
data_1314['Year'] = data_1314['Date'].dt.year
data_1314['Month'] = data_1314['Date'].dt.month
data_1314.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date,Year,Month
0,General Construction/Plumbing,11230,40.625374,-73.965276,"(40.6253743118371, -73.96527627658917)",2013-10-01,2013,10
1,Smoking,11106,40.763844,-73.936166,"(40.763843628219504, -73.93616597320083)",2013-01-19,2013,1
2,Non-Residential Heat,11233,40.676201,-73.908450,"(40.67620120872071, -73.90845042192403)",2013-01-23,2013,1
3,Non-Residential Heat,11213,40.671271,-73.927332,"(40.67127134171268, -73.92733244608434)",2013-01-25,2013,1
4,General Construction/Plumbing,11101,40.745885,-73.955155,"(40.74588547678187, -73.95515535997583)",2013-01-28,2013,1

In [58]:
data_1314 = data_1314[['Complaint Type','Year','Month','Date','Latitude','Longitude','Location','Incident Zip']]
data_1314.head()

,Complaint Type,Year,Month,Date,Latitude,Longitude,Location,Incident Zip
0,General Construction/Plumbing,2013,10,2013-10-01,40.625374,-73.965276,"(40.6253743118371, -73.96527627658917)",11230
1,Smoking,2013,1,2013-01-19,40.763844,-73.936166,"(40.763843628219504, -73.93616597320083)",11106
2,Non-Residential Heat,2013,1,2013-01-23,40.676201,-73.908450,"(40.67620120872071, -73.90845042192403)",11233
3,Non-Residential Heat,2013,1,2013-01-25,40.671271,-73.927332,"(40.67127134171268, -73.92733244608434)",11213
4,General Construction/Plumbing,2013,1,2013-01-28,40.745885,-73.955155,"(40.74588547678187, -73.95515535997583)",11101

In [59]:
data_1314.to_csv('C13.csv')

#### ----------

In [22]:
data_1415['Created Date'].dtypes

dtype('O')

In [23]:
data_1415['Created Date'] = pd.to_datetime(data_1415['Created Date'])

In [24]:
data_1415['Created Date'].dtypes

dtype('<M8[ns]')

In [60]:
data_1415['Date'] = data_1415['Created Date'].dt.date
data_1415.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location,Date
0,2014-01-02 09:56:35,DOF Property - Reduction Issue,10455,NaN,NaN,NaN,NaN,NaN,2014-01-02
1,2014-01-01 01:43:59,Blocked Driveway,11105,1011905.0,220241.0,40.771144,-73.900157,"(40.77114376681425, -73.90015700109045)",2014-01-01
2,2014-01-01 02:40:43,Blocked Driveway,11419,1029742.0,190764.0,40.690163,-73.835959,"(40.69016297012941, -73.83595939389049)",2014-01-01
3,2014-01-01 00:43:46,Illegal Parking,11385,1017254.0,195852.0,40.704184,-73.880965,"(40.70418371191333, -73.88096515118515)",2014-01-01
4,2014-01-01 02:53:18,Noise - Residential,11219,985062.0,173714.0,40.643481,-73.997074,"(40.64348139274596, -73.99707404148495)",2014-01-01

In [61]:
data_1415 = data_1415.drop(['X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Created Date'], axis = 1)
data_1415.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date
0,DOF Property - Reduction Issue,10455,NaN,NaN,NaN,2014-01-02
1,Blocked Driveway,11105,40.771144,-73.900157,"(40.77114376681425, -73.90015700109045)",2014-01-01
2,Blocked Driveway,11419,40.690163,-73.835959,"(40.69016297012941, -73.83595939389049)",2014-01-01
3,Illegal Parking,11385,40.704184,-73.880965,"(40.70418371191333, -73.88096515118515)",2014-01-01
4,Noise - Residential,11219,40.643481,-73.997074,"(40.64348139274596, -73.99707404148495)",2014-01-01

In [62]:
data_1415['Date'] = pd.to_datetime(data_1415['Date'])

In [63]:
data_1415['Year'] = data_1415['Date'].dt.year
data_1415['Month'] = data_1415['Date'].dt.month
data_1415.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date,Year,Month
0,DOF Property - Reduction Issue,10455,NaN,NaN,NaN,2014-01-02,2014,1
1,Blocked Driveway,11105,40.771144,-73.900157,"(40.77114376681425, -73.90015700109045)",2014-01-01,2014,1
2,Blocked Driveway,11419,40.690163,-73.835959,"(40.69016297012941, -73.83595939389049)",2014-01-01,2014,1
3,Illegal Parking,11385,40.704184,-73.880965,"(40.70418371191333, -73.88096515118515)",2014-01-01,2014,1
4,Noise - Residential,11219,40.643481,-73.997074,"(40.64348139274596, -73.99707404148495)",2014-01-01,2014,1

In [64]:
data_1415 = data_1415[['Complaint Type','Year','Month','Date','Latitude','Longitude','Location','Incident Zip']]
data_1415.head()

,Complaint Type,Year,Month,Date,Latitude,Longitude,Location,Incident Zip
0,DOF Property - Reduction Issue,2014,1,2014-01-02,NaN,NaN,NaN,10455
1,Blocked Driveway,2014,1,2014-01-01,40.771144,-73.900157,"(40.77114376681425, -73.90015700109045)",11105
2,Blocked Driveway,2014,1,2014-01-01,40.690163,-73.835959,"(40.69016297012941, -73.83595939389049)",11419
3,Illegal Parking,2014,1,2014-01-01,40.704184,-73.880965,"(40.70418371191333, -73.88096515118515)",11385
4,Noise - Residential,2014,1,2014-01-01,40.643481,-73.997074,"(40.64348139274596, -73.99707404148495)",11219

In [65]:
data_1415.to_csv('C14.csv')

#### ----------

In [25]:
data_1516['Created Date'].dtypes

dtype('O')

In [26]:
data_1516['Created Date'] = pd.to_datetime(data_1516['Created Date'])

In [27]:
data_1516['Created Date'].dtypes

dtype('<M8[ns]')

In [66]:
data_1516['Date'] = data_1516['Created Date'].dt.date
data_1516.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location,Date
0,2015-10-01,Unsanitary Animal Pvt Property,11414,1028301.0,179928.0,40.660428,-73.841226,"(40.66042792940118, -73.84122633877455)",2015-10-01
1,2015-10-01,Unsanitary Pigeon Condition,11215,990244.0,181678.0,40.665339,-73.978394,"(40.66533884086236, -73.97839415947483)",2015-10-01
2,2015-10-01,Unsanitary Animal Pvt Property,10301,955037.0,170033.0,40.633330,-74.105250,"(40.63332969998893, -74.10525005425679)",2015-10-01
3,2015-10-01,Unsanitary Animal Pvt Property,11417,1029210.0,188627.0,40.684300,-73.837892,"(40.68430012358396, -73.83789200050686)",2015-10-01
4,2015-10-01,Unsanitary Animal Pvt Property,10016,990185.0,211350.0,40.746782,-73.978581,"(40.74678151406556, -73.97858067686367)",2015-10-01

In [67]:
data_1516 = data_1516.drop(['X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Created Date'], axis = 1)
data_1516.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date
0,Unsanitary Animal Pvt Property,11414,40.660428,-73.841226,"(40.66042792940118, -73.84122633877455)",2015-10-01
1,Unsanitary Pigeon Condition,11215,40.665339,-73.978394,"(40.66533884086236, -73.97839415947483)",2015-10-01
2,Unsanitary Animal Pvt Property,10301,40.633330,-74.105250,"(40.63332969998893, -74.10525005425679)",2015-10-01
3,Unsanitary Animal Pvt Property,11417,40.684300,-73.837892,"(40.68430012358396, -73.83789200050686)",2015-10-01
4,Unsanitary Animal Pvt Property,10016,40.746782,-73.978581,"(40.74678151406556, -73.97858067686367)",2015-10-01

In [68]:
data_1516['Date'] = pd.to_datetime(data_1516['Date'])

In [69]:
data_1516['Year'] = data_1516['Date'].dt.year
data_1516['Month'] = data_1516['Date'].dt.month
data_1516.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date,Year,Month
0,Unsanitary Animal Pvt Property,11414,40.660428,-73.841226,"(40.66042792940118, -73.84122633877455)",2015-10-01,2015,10
1,Unsanitary Pigeon Condition,11215,40.665339,-73.978394,"(40.66533884086236, -73.97839415947483)",2015-10-01,2015,10
2,Unsanitary Animal Pvt Property,10301,40.633330,-74.105250,"(40.63332969998893, -74.10525005425679)",2015-10-01,2015,10
3,Unsanitary Animal Pvt Property,11417,40.684300,-73.837892,"(40.68430012358396, -73.83789200050686)",2015-10-01,2015,10
4,Unsanitary Animal Pvt Property,10016,40.746782,-73.978581,"(40.74678151406556, -73.97858067686367)",2015-10-01,2015,10

In [70]:
data_1516 = data_1516[['Complaint Type','Year','Month','Date','Latitude','Longitude','Location','Incident Zip']]
data_1516.head()

,Complaint Type,Year,Month,Date,Latitude,Longitude,Location,Incident Zip
0,Unsanitary Animal Pvt Property,2015,10,2015-10-01,40.660428,-73.841226,"(40.66042792940118, -73.84122633877455)",11414
1,Unsanitary Pigeon Condition,2015,10,2015-10-01,40.665339,-73.978394,"(40.66533884086236, -73.97839415947483)",11215
2,Unsanitary Animal Pvt Property,2015,10,2015-10-01,40.633330,-74.105250,"(40.63332969998893, -74.10525005425679)",10301
3,Unsanitary Animal Pvt Property,2015,10,2015-10-01,40.684300,-73.837892,"(40.68430012358396, -73.83789200050686)",11417
4,Unsanitary Animal Pvt Property,2015,10,2015-10-01,40.746782,-73.978581,"(40.74678151406556, -73.97858067686367)",10016

In [71]:
data_1516.to_csv('C15.csv')

#### ----------

In [28]:
data_311p['Created Date'].dtypes

dtype('O')

In [29]:
data_311p['Created Date'] = pd.to_datetime(data_311p['Created Date'])

In [30]:
data_311p['Created Date'].dtypes

dtype('<M8[ns]')

In [72]:
data_311p['Date'] = data_311p['Created Date'].dt.date
data_311p.head()

,Created Date,Complaint Type,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude,Location,Date
0,2017-02-03 15:41:50,Blocked Driveway,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-03
1,2017-02-03 10:24:00,Missed Collection (All Materials),11211,995733.0,197462.0,40.708657,-73.958582,"(40.70865688036097, -73.95858173179646)",2017-02-03
2,2017-02-03 15:22:38,General Construction/Plumbing,11432,1043581.0,199151.0,40.713101,-73.785983,"(40.71310129919592, -73.78598332501407)",2017-02-03
3,2017-02-03 05:39:00,Traffic Signal Condition,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-03
4,2017-02-03 10:52:00,Dirty Conditions,10469,1023648.0,253055.0,40.861164,-73.857569,"(40.861164337464984, -73.85756861957913)",2017-02-03

In [73]:
data_311p = data_311p.drop(['X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Created Date'], axis = 1)
data_311p.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date
0,Blocked Driveway,NaN,NaN,NaN,NaN,2017-02-03
1,Missed Collection (All Materials),11211,40.708657,-73.958582,"(40.70865688036097, -73.95858173179646)",2017-02-03
2,General Construction/Plumbing,11432,40.713101,-73.785983,"(40.71310129919592, -73.78598332501407)",2017-02-03
3,Traffic Signal Condition,NaN,NaN,NaN,NaN,2017-02-03
4,Dirty Conditions,10469,40.861164,-73.857569,"(40.861164337464984, -73.85756861957913)",2017-02-03

In [74]:
data_311p['Date'] = pd.to_datetime(data_311p['Date'])

In [75]:
data_311p['Year'] = data_311p['Date'].dt.year
data_311p['Month'] = data_311p['Date'].dt.month
data_311p.head()

,Complaint Type,Incident Zip,Latitude,Longitude,Location,Date,Year,Month
0,Blocked Driveway,NaN,NaN,NaN,NaN,2017-02-03,2017,2
1,Missed Collection (All Materials),11211,40.708657,-73.958582,"(40.70865688036097, -73.95858173179646)",2017-02-03,2017,2
2,General Construction/Plumbing,11432,40.713101,-73.785983,"(40.71310129919592, -73.78598332501407)",2017-02-03,2017,2
3,Traffic Signal Condition,NaN,NaN,NaN,NaN,2017-02-03,2017,2
4,Dirty Conditions,10469,40.861164,-73.857569,"(40.861164337464984, -73.85756861957913)",2017-02-03,2017,2

In [76]:
data_311p = data_311p[['Complaint Type','Year','Month','Date','Latitude','Longitude','Location','Incident Zip']]
data_311p.head()

,Complaint Type,Year,Month,Date,Latitude,Longitude,Location,Incident Zip
0,Blocked Driveway,2017,2,2017-02-03,NaN,NaN,NaN,NaN
1,Missed Collection (All Materials),2017,2,2017-02-03,40.708657,-73.958582,"(40.70865688036097, -73.95858173179646)",11211
2,General Construction/Plumbing,2017,2,2017-02-03,40.713101,-73.785983,"(40.71310129919592, -73.78598332501407)",11432
3,Traffic Signal Condition,2017,2,2017-02-03,NaN,NaN,NaN,NaN
4,Dirty Conditions,2017,2,2017-02-03,40.861164,-73.857569,"(40.861164337464984, -73.85756861957913)",10469

In [77]:
data_311p.to_csv('C16+.csv')

#### ----------