In [2]:
from __future__ import division #, print_function
import sys
import os
import csv
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from fiona.crs import from_epsg
import geopandas as gp
import shapely as shp
from geopandas.tools import sjoin
from shapely.geometry import Point

import pylab as pl
%pylab inline

#import seaborn
#from scipy.optimize import curve_fit, minimize

Populating the interactive namespace from numpy and matplotlib

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['datetime', 'choice']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [3]:
#yt_1301 = pd.read_csv('data_raw_yellow/yellow_201601.csv')
#yt_1302 = pd.read_csv('data_raw_yellow/yellow_201602.csv')
#yt_1303 = pd.read_csv('data_raw_yellow/yellow_201603.csv')
#yt_1304 = pd.read_csv('data_raw_yellow/yellow_201604.csv')
#yt_1305 = pd.read_csv('data_raw_yellow/yellow_201605.csv')
#yt_1306 = pd.read_csv('data_raw_yellow/yellow_201606.csv')
#yt_1307 = pd.read_csv('data_raw_yellow/yellow_201607.csv')
yt_1308 = pd.read_csv('data_raw_yellow/yellow_201308.csv')
yt_1309 = pd.read_csv('data_raw_yellow/yellow_201309.csv')
yt_1310 = pd.read_csv('data_raw_yellow/yellow_201310.csv')
yt_1311 = pd.read_csv('data_raw_yellow/yellow_201311.csv')
yt_1312 = pd.read_csv('data_raw_yellow/yellow_201312.csv')

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
yt_1401 = pd.read_csv('data_raw_yellow/yellow_201401.csv')
yt_1402 = pd.read_csv('data_raw_yellow/yellow_201402.csv')
yt_1403 = pd.read_csv('data_raw_yellow/yellow_201403.csv')
yt_1404 = pd.read_csv('data_raw_yellow/yellow_201404.csv')
yt_1405 = pd.read_csv('data_raw_yellow/yellow_201405.csv')
yt_1406 = pd.read_csv('data_raw_yellow/yellow_201406.csv')
yt_1407 = pd.read_csv('data_raw_yellow/yellow_201407.csv')
yt_1408 = pd.read_csv('data_raw_yellow/yellow_201408.csv')
yt_1409 = pd.read_csv('data_raw_yellow/yellow_201409.csv')
yt_1410 = pd.read_csv('data_raw_yellow/yellow_201410.csv')
yt_1411 = pd.read_csv('data_raw_yellow/yellow_201411.csv')
yt_1412 = pd.read_csv('data_raw_yellow/yellow_201412.csv')

In [5]:
yt_1501 = pd.read_csv('data_raw_yellow/yellow_201501.csv')
yt_1502 = pd.read_csv('data_raw_yellow/yellow_201502.csv')
yt_1503 = pd.read_csv('data_raw_yellow/yellow_201503.csv')
yt_1504 = pd.read_csv('data_raw_yellow/yellow_201504.csv')
yt_1505 = pd.read_csv('data_raw_yellow/yellow_201505.csv')
yt_1506 = pd.read_csv('data_raw_yellow/yellow_201506.csv')
yt_1507 = pd.read_csv('data_raw_yellow/yellow_201507.csv')
yt_1508 = pd.read_csv('data_raw_yellow/yellow_201508.csv')
yt_1509 = pd.read_csv('data_raw_yellow/yellow_201509.csv')
yt_1510 = pd.read_csv('data_raw_yellow/yellow_201510.csv')
yt_1511 = pd.read_csv('data_raw_yellow/yellow_201511.csv')
yt_1512 = pd.read_csv('data_raw_yellow/yellow_201512.csv')

In [6]:
yt_1601 = pd.read_csv('data_raw_yellow/yellow_201601.csv')
yt_1602 = pd.read_csv('data_raw_yellow/yellow_201602.csv')
yt_1603 = pd.read_csv('data_raw_yellow/yellow_201603.csv')
yt_1604 = pd.read_csv('data_raw_yellow/yellow_201604.csv')
yt_1605 = pd.read_csv('data_raw_yellow/yellow_201605.csv')
yt_1606 = pd.read_csv('data_raw_yellow/yellow_201606.csv')
#yt_1607 = pd.read_csv('data_raw_yellow/yellow_201607.csv')
#yt_1608 = pd.read_csv('data_raw_yellow/yellow_201608.csv')
#yt_1609 = pd.read_csv('data_raw_yellow/yellow_201609.csv')
#yt_1610 = pd.read_csv('data_raw_yellow/yellow_201610.csv')
#yt_1611 = pd.read_csv('data_raw_yellow/yellow_201611.csv')
#yt_1612 = pd.read_csv('data_raw_yellow/yellow_201612.csv')

##### enter CB station ID ("choice") and radius ("radius").  Use Notebook 8 to process buffers in bulk.

In [63]:

choice = 3112
radius = 450

In [64]:
station_bounds = pd.read_csv('data_raw_cb/deployment_bounds.csv')
station_bounds.drop(['Unnamed: 0'],axis=1,inplace=True)
station_bounds[station_bounds.station_id == choice]

,boro_name,deployment,station_id,min_lon,min_lat,max_lon,max_lat
562,Brooklyn,8/13/2015 18:16:08,3112,-73.959486,40.72777,-73.956094,40.73035

In [65]:
bufs_3 = gp.GeoDataFrame.from_file('data_raw_cb/bufs_3.shp')
bufs_3.crs = {'init': 'epsg:2263', 'no_defs': True}
bufs_3 = bufs_3.to_crs(epsg=2263)
bufs_3.crs

bufs_c = bufs_3[(bufs_3.station_id == choice) & (bufs_3.radius == radius)]
bufs_c.reset_index(drop=True, inplace = True)
bufs_c

,boro_name,deployment,geometry,radius,station_id
0,Brooklyn,8/13/2015 18:16:08,"POLYGON ((996398.9215784704 204895.5999987014,...",450,3112

In [66]:
station_bounds[station_bounds.station_id == choice]

,boro_name,deployment,station_id,min_lon,min_lat,max_lon,max_lat
562,Brooklyn,8/13/2015 18:16:08,3112,-73.959486,40.72777,-73.956094,40.73035

In [67]:
station_bounds[station_bounds.station_id == choice].index[0]

562

##### important... enter index number ("idxx") of corresponding station:

In [68]:
idxx = 562
station_bounds.iloc[idxx][2]

3112

In [69]:
def choose_col_do_2013(do_data_2013):
    do_2013 = do_data_2013[['pickup_datetime','dropoff_datetime','dropoff_longitude','dropoff_latitude','trip_distance']]
    do_2013['num_trips'] = do_data_2013['trip_distance']
    do_2013.rename(columns={'pickup_datetime':'pu_time','dropoff_datetime':'do_time',
                            'dropoff_longitude':'do_lon', 'dropoff_latitude':'do_lat'},
              inplace=True)
    return do_2013


def choose_col_do_2014(do_data_2014):
    do_2014 = do_data_2014[[' pickup_datetime',' dropoff_datetime',' dropoff_longitude',' dropoff_latitude',' trip_distance']]
    do_2014['num_trips'] = do_data_2014[' trip_distance']
    do_2014.rename(columns={' pickup_datetime':'pu_time',' dropoff_datetime':'do_time',
                            ' dropoff_longitude':'do_lon', ' dropoff_latitude':'do_lat', ' trip_distance':'trip_distance'},
              inplace=True)
    return do_2014

def choose_col_do_2015(do_data_2015):
    do_2015 = do_data_2015[['tpep_pickup_datetime','tpep_dropoff_datetime','dropoff_longitude','dropoff_latitude','trip_distance']]
    do_2015['num_trips'] = do_data_2015['trip_distance']
    do_2015.rename(columns={'tpep_pickup_datetime':'pu_time','tpep_dropoff_datetime':'do_time',
                            'dropoff_longitude':'do_lon', 'dropoff_latitude':'do_lat'},
              inplace=True)
    return do_2015

def choose_col_do_2016(do_data_2016):
    do_2016 = do_data_2016[['tpep_pickup_datetime','tpep_dropoff_datetime','dropoff_longitude','dropoff_latitude','trip_distance']]
    do_2016['num_trips'] = do_data_2016['trip_distance']
    do_2016.rename(columns={'tpep_pickup_datetime':'pu_time','tpep_dropoff_datetime':'do_time',
                            'dropoff_longitude':'do_lon', 'dropoff_latitude':'do_lat'},
              inplace=True)
    return do_2016


#######################

def trim_bounds_do(do_data):

    startTime = datetime.datetime.now()

    min_lon = station_bounds.iloc[idxx][3]
    min_lat = station_bounds.iloc[idxx][4] 
    max_lon = station_bounds.iloc[idxx][5]
    max_lat = station_bounds.iloc[idxx][6]    
    
    do_trim = do_data[(do_data['do_lon'] > min_lon) & (do_data['do_lon'] < max_lon) &
                      (do_data['do_lat'] > min_lat) & (do_data['do_lat'] < max_lat)]
    

    geometry = [Point(xy) for xy in zip(do_trim['do_lon'], do_trim['do_lat'])]
    crs = {'init': 'epsg:4326', 'no_defs': True}
#    crs = {'init': 'epsg:2263', 'no_defs': True}
    do_data_points = gp.GeoDataFrame(do_trim, crs=crs, geometry=geometry)       
    do_data_points = do_data_points.to_crs(epsg=2263)
    
    print datetime.datetime.now() - startTime, "Shrunk Dataset & Created Points"

    return do_data_points

#############################

def join_do(rides_do):
    
    startTime = datetime.datetime.now()

    mg = sjoin(rides_do, bufs_c, how='inner', op='within')
    
    print datetime.datetime.now() - startTime,"Spatial join done"

    return mg
    

    
def trim_by_date_do(do_dt):

    startTime = datetime.datetime.now()
        
    do_dt['start'] = pd.to_datetime(do_dt['pu_time'])
    do_dt['end'] = pd.to_datetime(do_dt['do_time'])
    do_dt['trip_time'] = (do_dt['end'] - do_dt['start']).dt.total_seconds()/60
    do_dt.reset_index(drop=True, inplace = True)

    print datetime.datetime.now() - startTime,"Made trip time"
    
    return do_dt

    
    
def agg_do(do_ag):
    
    startTime = datetime.datetime.now()

    do_ag['do_date'] = do_ag['end'].dt.date
    data_do_ag = do_ag[['do_date','station_id','radius','num_trips','trip_distance','trip_time']].sort(['station_id','radius','do_date'])
    data_do_ag.reset_index(inplace = True)

    data_do_ag = data_do_ag.groupby(['station_id','radius','do_date']).agg({'num_trips': "count", 'trip_distance':"mean",'trip_time':"mean"})
    
    print datetime.datetime.now() - startTime,"Aggregated by date"
    
    data_do_ag.reset_index(inplace = True)

    return data_do_ag

def run_all_13(taxi_data):
    txd = choose_col_do_2013(taxi_data)
    txd = trim_bounds_do(txd)
    txd = join_do(txd)
    txd = trim_by_date_do(txd)
    txd = agg_do(txd)
    
    return txd

def run_all_14(taxi_data):
    txd = choose_col_do_2014(taxi_data)
    txd = trim_bounds_do(txd)
    txd = join_do(txd)
    txd = trim_by_date_do(txd)
    txd = agg_do(txd)
    
    return txd

def run_all_15(taxi_data):
    txd = choose_col_do_2015(taxi_data)
    txd = trim_bounds_do(txd)
    txd = join_do(txd)
    txd = trim_by_date_do(txd)
    txd = agg_do(txd)
    
    return txd

def run_all_16(taxi_data):
    txd = choose_col_do_2016(taxi_data)
    txd = trim_bounds_do(txd)
    txd = join_do(txd)
    txd = trim_by_date_do(txd)
    txd = agg_do(txd)
    
    return txd

In [51]:
ytx_do = pd.DataFrame()

In [70]:
#ytx_1307_do = run_all(yt_1307)
#ytx_1308_do = run_all_13(yt_1308)
ytx_1309_do = run_all_13(yt_1309)
ytx_1310_do = run_all_13(yt_1310)
ytx_1311_do = run_all_13(yt_1311)
ytx_1312_do = run_all_13(yt_1312)


ytx_1401_do = run_all_14(yt_1401)
ytx_1402_do = run_all_14(yt_1402)
ytx_1403_do = run_all_14(yt_1403)
ytx_1404_do = run_all_14(yt_1404)
ytx_1405_do = run_all_14(yt_1405)
ytx_1406_do = run_all_14(yt_1406)
ytx_1407_do = run_all_14(yt_1407)
ytx_1408_do = run_all_14(yt_1408)
ytx_1409_do = run_all_14(yt_1409)
ytx_1410_do = run_all_14(yt_1410)
ytx_1411_do = run_all_14(yt_1411)
ytx_1412_do = run_all_14(yt_1412)

ytx_1501_do = run_all_15(yt_1501)
ytx_1502_do = run_all_15(yt_1502)
ytx_1503_do = run_all_15(yt_1503)
ytx_1504_do = run_all_15(yt_1504)
ytx_1505_do = run_all_15(yt_1505)
ytx_1506_do = run_all_15(yt_1506)
ytx_1507_do = run_all_15(yt_1507)
ytx_1508_do = run_all_15(yt_1508)
ytx_1509_do = run_all_15(yt_1509)
ytx_1510_do = run_all_15(yt_1510)
ytx_1511_do = run_all_15(yt_1511)
ytx_1512_do = run_all_15(yt_1512)


ytx_1601_do = run_all_16(yt_1601)
ytx_1602_do = run_all_16(yt_1602)
ytx_1603_do = run_all_16(yt_1603)
ytx_1604_do = run_all_16(yt_1604)
ytx_1605_do = run_all_16(yt_1605)
ytx_1606_do = run_all_16(yt_1606)

#ytx_do = ytx_do.append(ytx_1308_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1309_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1310_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1311_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1312_do, ignore_index=True)

ytx_do = ytx_do.append(ytx_1401_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1402_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1403_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1404_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1405_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1406_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1407_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1408_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1409_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1410_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1411_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1412_do, ignore_index=True)

ytx_do = ytx_do.append(ytx_1501_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1502_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1503_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1504_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1505_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1506_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1507_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1508_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1509_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1510_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1511_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1512_do, ignore_index=True)

ytx_do = ytx_do.append(ytx_1601_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1602_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1603_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1604_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1605_do, ignore_index=True)
ytx_do = ytx_do.append(ytx_1606_do, ignore_index=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

0:00:00.699676 Shrunk Dataset & Created Points
0:00:00.462423 Spatial join done
0:00:00.006150 Made trip time
0:00:00.019458 Aggregated by date

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:94: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

0:00:00.734985 Shrunk Dataset & Created Points
0:00:00.495093 Spatial join done
0:00:00.006029 Made trip time
0:00:00.023461 Aggregated by date
0:00:00.698814 Shrunk Dataset & Created Points
0:00:00.465187 Spatial join done
0:00:00.006149 Made trip time
0:00:00.019287 Aggregated by date
0:00:00.657605 Shrunk Dataset & Created Points
0:00:00.422860 Spatial join done
0:00:00.005801 Made trip time
0:00:00.018292 Aggregated by date

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0:00:00.648179 Shrunk Dataset & Created Points
0:00:00.422810 Spatial join done
0:00:00.005681 Made trip time
0:00:00.018756 Aggregated by date
0:00:00.628015 Shrunk Dataset & Created Points
0:00:00.412545 Spatial join done
0:00:00.005694 Made trip time
0:00:00.018452 Aggregated by date
0:00:00.718699 Shrunk Dataset & Created Points
0:00:00.484372 Spatial join done
0:00:00.005843 Made trip time
0:00:00.019209 Aggregated by date
0:00:00.650572 Shrunk Dataset & Created Points
0:00:00.420742 Spatial join done
0:00:00.005800 Made trip time
0:00:00.018707 Aggregated by date
0:00:00.689166 Shrunk Dataset & Created Points
0:00:00.478669 Spatial join done
0:00:00.006302 Made trip time
0:00:00.022051 Aggregated by date
0:00:00.612320 Shrunk Dataset & Created Points
0:00:00.383178 Spatial join done
0:00:00.005408 Made trip time
0:00:00.017373 Aggregated by date
0:00:00.572599 Shrunk Dataset & Created Points
0:00:00.381053 Spatial join done
0:00:00.005361 Made trip time
0:00:00.017298 Aggregated by date
0:00:00.552028 Shrunk Dataset & Created Points
0:00:00.352094 Spatial join done
0:00:00.005460 Made trip time
0:00:00.017145 Aggregated by date
0:00:00.568286 Shrunk Dataset & Created Points
0:00:00.350290 Spatial join done
0:00:00.006794 Made trip time
0:00:00.016819 Aggregated by date
0:00:00.680033 Shrunk Dataset & Created Points
0:00:00.419114 Spatial join done
0:00:00.005373 Made trip time
0:00:00.017438 Aggregated by date
0:00:00.584658 Shrunk Dataset & Created Points
0:00:00.361960 Spatial join done
0:00:00.005285 Made trip time
0:00:00.016045 Aggregated by date
0:00:00.565084 Shrunk Dataset & Created Points
0:00:00.354345 Spatial join done
0:00:00.005409 Made trip time
0:00:00.017387 Aggregated by date

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0:00:00.507093 Shrunk Dataset & Created Points
0:00:00.287809 Spatial join done
0:00:00.004971 Made trip time
0:00:00.014741 Aggregated by date
0:00:00.557615 Shrunk Dataset & Created Points
0:00:00.343098 Spatial join done
0:00:00.005342 Made trip time
0:00:00.016203 Aggregated by date
0:00:00.598424 Shrunk Dataset & Created Points
0:00:00.355934 Spatial join done
0:00:00.005660 Made trip time
0:00:00.017001 Aggregated by date
0:00:00.605646 Shrunk Dataset & Created Points
0:00:00.394071 Spatial join done
0:00:00.005587 Made trip time
0:00:00.017890 Aggregated by date
0:00:00.585207 Shrunk Dataset & Created Points
0:00:00.361624 Spatial join done
0:00:00.005438 Made trip time
0:00:00.016650 Aggregated by date
0:00:00.508338 Shrunk Dataset & Created Points
0:00:00.294070 Spatial join done
0:00:00.005361 Made trip time
0:00:00.014768 Aggregated by date
0:00:00.469978 Shrunk Dataset & Created Points
0:00:00.269900 Spatial join done
0:00:00.005096 Made trip time
0:00:00.015324 Aggregated by date
0:00:00.474265 Shrunk Dataset & Created Points
0:00:00.274434 Spatial join done
0:00:00.004784 Made trip time
0:00:00.015304 Aggregated by date
0:00:00.481923 Shrunk Dataset & Created Points
0:00:00.279312 Spatial join done
0:00:00.004990 Made trip time
0:00:00.016372 Aggregated by date
0:00:00.584750 Shrunk Dataset & Created Points
0:00:00.372462 Spatial join done
0:00:00.005818 Made trip time
0:00:00.018226 Aggregated by date
0:00:00.477155 Shrunk Dataset & Created Points
0:00:00.285647 Spatial join done
0:00:00.005319 Made trip time
0:00:00.014988 Aggregated by date
0:00:00.485023 Shrunk Dataset & Created Points
0:00:00.256863 Spatial join done
0:00:00.005175 Made trip time
0:00:00.014383 Aggregated by date

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0:00:00.457960 Shrunk Dataset & Created Points
0:00:00.262282 Spatial join done
0:00:00.004832 Made trip time
0:00:00.014012 Aggregated by date
0:00:00.473710 Shrunk Dataset & Created Points
0:00:00.258484 Spatial join done
0:00:00.005405 Made trip time
0:00:00.016877 Aggregated by date
0:00:00.516849 Shrunk Dataset & Created Points
0:00:00.298720 Spatial join done
0:00:00.005294 Made trip time
0:00:00.015741 Aggregated by date
0:00:00.543487 Shrunk Dataset & Created Points
0:00:00.315238 Spatial join done
0:00:00.005614 Made trip time
0:00:00.015964 Aggregated by date
0:00:00.531229 Shrunk Dataset & Created Points
0:00:00.328622 Spatial join done
0:00:00.005262 Made trip time
0:00:00.018720 Aggregated by date
0:00:00.495026 Shrunk Dataset & Created Points
0:00:00.286544 Spatial join done
0:00:00.005729 Made trip time
0:00:00.016860 Aggregated by date

In [71]:
ytx_do

      station_id  radius     do_date  num_trips  trip_distance  trip_time
0           3112     150  2013-09-01          5       1.330000   5.816667
1           3112     150  2013-09-02          4       2.317500   8.120833
2           3112     150  2013-09-03          4       5.392500  19.287500
3           3112     150  2013-09-04          6       3.078333  11.291667
4           3112     150  2013-09-05          9       1.730000   7.935185
5           3112     150  2013-09-06         12       4.270000  19.630556
6           3112     150  2013-09-07          8       2.553750   9.660417
7           3112     150  2013-09-08          6       3.115000  13.530556
8           3112     150  2013-09-09          5       1.772000   7.736667
9           3112     150  2013-09-10         10       4.104000  17.251667
10          3112     150  2013-09-11         12       3.723333  14.552778
11          3112     150  2013-09-12          6       3.668333  13.408333
12          3112     150  2013-09-13         13       2.157692   7.779487
13          3112     150  2013-09-14         15       2.882667  11.221111
14          3112     150  2013-09-15         13       3.166154  13.001282
15          3112     150  2013-09-16          7       5.014286  20.350000
16          3112     150  2013-09-17          3       3.566667  15.350000
17          3112     150  2013-09-18          5       3.978000  15.390000
18          3112     150  2013-09-19          6       1.950000  10.133333
19          3112     150  2013-09-20          8       3.898750  15.591667
20          3112     150  2013-09-21         14       2.727857  13.015476
21          3112     150  2013-09-22         13       3.969231  16.239744
22          3112     150  2013-09-23          1      19.010000  35.000000
23          3112     150  2013-09-24          5       3.810000  14.960000
24          3112     150  2013-09-25         12       2.623333  10.530556
25          3112     150  2013-09-26          6       4.525000  15.633333
26          3112     150  2013-09-27          6       3.083333  10.741667
27          3112     150  2013-09-28         16       2.390000   9.992708
28          3112     150  2013-09-29          9       3.870000  17.125926
29          3112     150  2013-09-30          7       4.038571  13.938095
...          ...     ...         ...        ...            ...        ...
3103        3112     450  2016-06-02         51       4.724706  20.415033
3104        3112     450  2016-06-03         58       4.586897  21.391954
3105        3112     450  2016-06-04         78       3.906154  17.694444
3106        3112     450  2016-06-05         46       4.386087  15.536957
3107        3112     450  2016-06-06         52       6.185577  22.115064
3108        3112     450  2016-06-07         31       5.890968  20.977957
3109        3112     450  2016-06-08         33       4.842121  23.086364
3110        3112     450  2016-06-09         41       4.701951  22.600000
3111        3112     450  2016-06-10         49       4.101224  19.113946
3112        3112     450  2016-06-11         94       4.500426  33.345922
3113        3112     450  2016-06-12         45       4.078667  47.174074
3114        3112     450  2016-06-13         34       5.722941  18.603431
3115        3112     450  2016-06-14         37       4.308378  57.720270
3116        3112     450  2016-06-15         45       4.940667  23.377037
3117        3112     450  2016-06-16         42       4.641667  30.976984
3118        3112     450  2016-06-17         69       4.299855  20.003623
3119        3112     450  2016-06-18         72       3.926667  17.630787
3120        3112     450  2016-06-19         59       4.195085  16.510169
3121        3112     450  2016-06-20         31       5.486452  19.994624
3122        3112     450  2016-06-21         45       3.900889  17.082222
3123        3112     450  2016-06-22         33       4.723636  24.252525
3124        3112     450  2016-06-23         54       4.765370  22.343519
3125        3112     450  2016-06-24         62       4.069032  18.585215
3126        3112     450  2016-06-25        125       4.248560  30.184667
3127        3112     450  2016-06-26         69       4.127246  15.084541
3128        3112     450  2016-06-27         45       4.312222  17.587778
3129        3112     450  2016-06-28         33       4.801515  21.213131
3130        3112     450  2016-06-29         45       4.161556  19.849259
3131        3112     450  2016-06-30         55       4.775091  21.384242
3132        3112     450  2016-07-01          1       4.900000  30.083333

[3133 rows x 6 columns]

In [73]:
yellow_3112_do = ytx_do
yellow_3112_do.to_csv('data_pre_yellow/yellow_3112_do.csv')